{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static '/css/web.css' %}">

</head>
<body>
<div class="chat">
    {% for post in posts %}
    <div class="container">
        <p>{{ post.text|linebreaksbr }}</p>
        <span class="time-right">Sent: {{ post.post_date }}</span>
    </div>
    {% endfor %}
</div>
<div>
    {% block content %}
    <h2>New message</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <textarea class="form-control rounded-3" id="text" name="text" rows="3"></textarea>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    {% endblock %}
</div>

</body>
</html>